body {
    margin: 0px;
}

* {
    font-family: 'Roboto Mono', monospace;
}

.inputsContainer {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 25vw;
    margin: 1px solid lightgray;
}

input {
    width: 7ch;
}

button {
    margin: 0px 4px;
    background: darkgray;
}

.inputRow {
    display: flex;
    margin: 5px;
}

.inputCenterRow {
    width: 100%;
    display: flex;
    justify-content: center;
}

.displayMatrix {
    position: absolute;
    top: 0;
    right: 2ch;
    display: flex;
    flex-direction: row;
    color: white;
}

.col0,.col1,.col2,.col3 {
    display: flex;
    flex-direction: column;
    margin: 1ch;
    width: 4ch;
}
